<!DOCTYPE html>
<html>
<head>
  <title>StreetLampApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to("SIGN UP", new_user_registration_path) %>
<%= link_to("sign out", destroy_user_session_path, method: "DELETE") %>
<%= yield %>

</body>
</html>
